@font-face {
  font-family: "Panton";
  src: url("../fonts/Panton-Regular.eot");
  src: local("Panton Regular"), local("Panton-Regular"),
  url("../fonts/Panton-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Panton-Regular.woff2") format("woff2"),
  url("../fonts/Panton-Regular.woff") format("woff"),
  url("../fonts/Panton-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Panton";
  src: url("../fonts/Panton-SemiBold.eot");
  src: local("Panton SemiBold"), local("Panton-SemiBold"),
  url("../fonts/Panton-SemiBold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Panton-SemiBold.woff2") format("woff2"),
  url("../fonts/Panton-SemiBold.woff") format("woff"),
  url("../fonts/Panton-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Panton";
  src: url("../fonts/Panton-Bold.eot");
  src: local("Panton Bold"), local("Panton-Bold"),
  url("../fonts/Panton-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Panton-Bold.woff2") format("woff2"),
  url("../fonts/Panton-Bold.woff") format("woff"),
  url("../fonts/Panton-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: local("Montserrat Alternates SemiBold"),
  url("../fonts/MontserratAlternates-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: local("Montserrat Alternates Bold"),
  url("../fonts/MontserratAlternates-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@mixin task-items() {
  display: flex;
  align-items: center;
  flex-direction: column;

  .task__number {
    width: 120px;
    height: 120px;
    background: linear-gradient(197.18deg, #F1F5F8 28.97%, rgba(241, 245, 248, 0) 91.1%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-bottom: 39px;
    position: relative;
    z-index: 1;

    &:before {
      width: 1px;
      height: 100px;
      background: linear-gradient(rgba(211, 212, 215, 0.3) 10.52%, rgba(211, 212, 215, 0.791667) 54.48%);
      content: ' ';
      position: absolute;
      top: 0;
      transform: translateY(-100%);
      left: 50%;
      z-index: -1;
    }

    &:after {
      width: 1px;
      height: 100px;
      background: linear-gradient(rgba(211, 212, 215, 0.8) 10.52%, rgba(211, 212, 215, 0.3) 50%);
      content: ' ';
      position: absolute;
      bottom: 0;
      transform: translateY(40%);
      left: 50%;
      z-index: -1;
    }

    span {
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 72px;
      height: 72px;
      font-family: 'Montserrat Alternates', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 34px;
      color: #404348;
      border-radius: 100%;
    }
  }

  .task__title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    max-width: 820px;
  }
  @media (max-width: 992px) {
    .task__number {
      width: 80px;
      height: 80px;
      margin-bottom: 0;

      &:before {
        height: 50px;
      }

      &:after {
        height: 23px;
      }

      span {
        font-size: 20px;
        line-height: 20px;
        width: 40px;
        height: 40px;
      }

    }
    .task__title {
      font-size: 16px;
      line-height: 22px;
    }

  }
}

.stom__portfolio {
  background: white;
  font: 400 20px/32px "Panton", sans-serif;
  color: #6D7279;
  overflow-x: hidden;
  z-index: 2;
  padding-bottom: 135px;

  img {
    height: auto;
  }

  .container {
    max-width: 1490px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .section__header {
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    color: #404348;
    margin-bottom: 30px;
  }


  .stom__wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    z-index: 2;

    .main__screen {
      background: rgba($color: #f3f4fe, $alpha: 0.7);
      margin-bottom: -150px;
      padding-top: 52px;
      z-index: 5;

      .top__bar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 70px;

        .item {
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          letter-spacing: 0.04em;
          color: #8b8f95;
        }
      }

      .main__title {
        max-width: 1190px;
        margin: 0 auto 53px;

        .subtitle {
          font-weight: 600;
          font-size: 26px;
          line-height: 31px;
          letter-spacing: 0.04em;
          margin-bottom: 14px;
          color: #8b8f95;
        }

        .page__header {
          max-width: 730px;
          font-family: "Montserrat Alternates", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 64px;
          line-height: 84px;
          color: #404348;
        }
      }

      .main__image {
        position: relative;
        z-index: 4;

        .main__instr {
          position: absolute;
          top: 0;
          transform: translateY(-95%);
          right: 200px;
          z-index: -1;
        }

        .img__wrapper {
          z-index: 5;
        }

      }
    }

    .second__section {
      background: white;
      padding-top: 200px;
      position: relative;
      z-index: 2;

      .ellipse {
        position: absolute;
        top: -160px;
        left: 0;
      }

      .brr {
        position: absolute;
        right: 50px;
        top: 350px;
      }

      .zub {
        position: absolute;
        left: 126px;
        top: 900px;
      }

      .ellipse2 {
        position: absolute;
        top: 750px;
        right: 0;
      }

      .tasks__items {
        display: flex;
        flex-direction: column;
        align-items: center;

        .task__item {
          margin-bottom: 97px;

          @include task-items;

          .fonts__colors {
            margin-bottom: 100px;

            .colors {
              margin-bottom: 40px;
              display: grid;
              grid-template-columns: 1fr 1fr 1fr 1fr;
              grid-gap: 50px;
              width: 100%;

              .color__item {
                justify-self: center;

                .color {
                  width: 110px;
                  height: 110px;
                  background: #FFFFFF;
                  box-shadow: 0px 6px 9px rgba(28, 39, 46, 0.22);
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 100%;
                  margin-bottom: 25px;

                  span {
                    width: 84px;
                    height: 84px;
                    border-radius: 100%;
                  }
                }

                .color__title {
                  color: #6D7279;
                  text-align: center;
                }
              }


            }

            .fonts {
              display: grid;
              grid-template-columns: 1fr 1fr;
              max-width: 700px;
              grid-gap: 100px;

              .font__item {
                .letter {
                  margin-bottom: 12px;
                }

                .font__family {
                  font-weight: 700;
                  font-size: 24px;
                  line-height: 29px;
                  text-align: center;
                  letter-spacing: 0.01em;
                  color: #404348;
                  margin-bottom: 20px;
                }

                .font__weight {
                  display: grid;
                  grid-template-columns: 1fr 1fr 1fr;
                  grid-gap: 40px;

                  span {
                    text-align: center;
                  }
                }

                &.mons {
                  font-family: 'Montserrat Alternates', sans-serif;

                  .letter {
                    font-weight: 700;
                    font-size: 144px;
                    line-height: 176px;
                    text-align: center;
                    letter-spacing: 0.01em;
                    color: #404348;
                  }
                }

                &.pant {
                  font-family: 'Panton', sans-serif;

                  .letter {
                    font-weight: 800;
                    font-size: 144px;
                    line-height: 173px;
                    text-align: center;
                    letter-spacing: 0.02em;
                    color: #404348;
                  }
                }

              }
            }
          }

          .task__image {
            position: relative;
            z-index: 1;

            .backgr {
              position: absolute;
              background: #E7ECF0;
              top: 237px;
              right: -300px;
              left: -300px;
              z-index: -1;
              bottom: 237px;
            }

            img {
              width: 100%;
              object-fit: contain;
              height: auto;
            }
          }

          &.main__page {
            margin-bottom: 20px;
          }

          &.other__page {
            margin-bottom: -182px;

            .section__header {
              margin-bottom: 80px;
            }

            .task__image {
              width: 100vw;
              max-width: 1920px;
            }
          }
        }
      }
    }

    .stom__adaptive {
      background: #E7ECF0;
      padding-top: 100px;
      z-index: 5;
      position: relative;

      .adaptive__wrapper {
        @include task-items;

        .task__number {
          &:before {
            height: 70px;
          }
        }

        .task__title {
          margin-bottom: 50px;
        }

        .adaptive__image {
          margin-bottom: -9px;

          img {
            width: 100%;
            object-fit: contain;
            height: auto;
          }
        }
      }

    }

    .stom__all_display {
      padding: 120px 0;

      .all_display__wrapper {
        @include task-items;

        .task__number {
          &:before {
            height: 70px;
          }
        }

        .task__title {
          margin-bottom: 0;
        }
      }
    }

    .stom__big_img {
      z-index: 2;
      position: relative;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    .stom_results {
      padding-top: 100px;
      margin-bottom: 40px;
      position: relative;
      z-index: 1;

      .res__ellipse {
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-50%);
        z-index: -1;
      }

      .res__ellipse_2 {
        position: absolute;
        right: 0;
        top: 50px;
        z-index: -1;
      }

      .stom__results_wrapper {
        @include task-items;


      }

      .results__wrapper {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: -170px;

        .left__side {
          display: flex;
          justify-content: flex-end;
          flex-basis: 50vw;
          min-width: 50vw;
          padding-right: 80px;

          img {
            object-fit: contain;
            height: auto;

          }
        }

        .right_side {
          padding-top: 236px;
          display: flex;
          justify-content: flex-start;
          flex-basis: 50%;
          min-width: 50%;


          width: 100%;
          max-width: 620px;
          height: fit-content;

          ul {
            background: white;
            box-shadow: -8px 10px 80px -25px rgba(82, 82, 82, 0.16);
            padding: 60px 60px 60px 80px;

            list-style-image: url("../img/marker.png");

            li {
              padding-left: 10px;
              font-weight: 400;
              font-size: 20px;
              line-height: 32px;
              color: #6D7279;
              margin-bottom: 30px;
            }
          }
        }
      }

    }

    .stom__tech {
      .tech__wrapper {
        @include task-items;

        .tech__items {
          max-width: 600px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          width: 100%;

          .item {
            &:last-child {
              justify-self: end;
            }

            &:first-child {
              border-right: 1px solid #D8D9DC;;
            }

            .tech__header {
              font-weight: 600;
              font-size: 20px;
              line-height: 32px;
              color: #6D7279;
              margin-bottom: 22px;
            }

            .tech__title {
              font-weight: 400;
              font-size: 20px;
              line-height: 32px;
              color: #6D7279;
            }
          }
        }
      }
    }
  }

}

@media (max-width: 1700px) {
  .stom__portfolio{
    .stom__wrapper{
      padding-bottom: 50px;
    }
  }
  .stom__portfolio .stom__wrapper .second__section {

    .ellipse {
      position: absolute;
      top: -160px;
      left: -1;
    }

    .brr {
      right: 0;
      transform: translateX(50%);
      z-index: -1;
    }

    .zub {
      position: absolute;
      left: 0;
      transform: translateX(-20%);
      top: 900px;
      z-index: -1;
    }

    .ellipse2 {
      position: absolute;
      top: 750px;
      right: -2;
    }

    .tasks__items {
      z-index: 5;

      .task__item {
        z-index: 5;

      }
    }

  }
}

@media (max-width: 1250px) {
  .stom__portfolio .stom__wrapper {
    .main__screen .main__image .main__instr {
      display: none;
    }

    .second__section {
      .brr {
        opacity: 0.3;
      }

      .zub {
        opacity: 0.3;
      }


    }
  }
}

@media (max-width: 992px) {
  .stom__portfolio .stom__wrapper {
    .ellipse{
      display: none !important;
    }
    .section__header {
      font-size: 30px;
      line-height: 34px;
      margin-bottom: 20px !important;
    }

    .main__screen {
      padding-top: 30px;

      .top__bar {
        margin-bottom: 50px;

        .item {
          font-size: 16px;
          line-height: 18px;

        }
      }

      .main__title {
        .subtitle {
          font-size: 20px;
          line-height: 24px;
        }

        .page__header {
          font-size: 50px;
          line-height: 60px;
        }
      }
    }

    .second__section {
      .ellipse {
        display: none;
      }

      .ellipse2 {
        display: none;
      }

      .tasks__items {
        .task__item {
          margin-bottom: 50px;

          .fonts__colors {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .stom__portfolio {
    font-size: 16px;
    line-height: 20px;
  }
  .stom__portfolio .stom__wrapper {
    .main__screen {
      padding-top: 30px;

      .top__bar {
        margin-bottom: 30px;

        .item {
          font-size: 14px;
          line-height: 16px;

        }
      }

      .main__title {
        margin-bottom: 37px;

        .subtitle {
          font-size: 18px;
          line-height: 22px;
        }

        .page__header {
          font-size: 42px;
          line-height: 50px;

        }
      }
    }

    .second__section {
      .tasks__items {
        .task__item {
          .fonts__colors {
            .colors {
              grid-template-columns: 1fr 1fr;
              grid-gap: 20px;

              .color__item {
                .color__title {

                }
              }
            }

            .fonts {
              grid-gap: 20px;

              .font__item {
                .font__family {
                  //   min-height: 58px;
                  font-size: 20px;
                  line-height: 24px;
                }

                &.mons {
                  .letter {
                    font-size: 92px;
                    line-height: 106px;
                  }
                }

                &.pant {
                  .letter {
                    font-size: 97px;
                    line-height: 106px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .stom__portfolio {
    .stom__wrapper {
      .second__section {
        .tasks__items {
          .task__item {
            .fonts__colors {
              .fonts {
                .font__item {
                  .font__family {
                    min-height: 48px;
                  }

                  .font__weight {
                    grid-gap: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}